{% extends 'realm/base.html' %}
{% load staticfiles %}

{% block title_block %}
Login
{% endblock %}
{% block body_block %}
<div class="container">
    <div class="column">
        <h1>Welcome Stranger !</h1><br>
        <h3>Login below to start reading !!</h3><br>
        <br>
        <form method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Log In" />

            <input type="hidden" name="next" value="{{ next }}" />
            <br>
        </form>
        <br>
        <br>
        <p>
        Not registered?
        <a href="{% url 'registration_register' %}">Register here!</a>
        </p>
    </div>
    <div class="column">
        <div class="bookCentre">
            <img src="{% static 'books.png' %}" width="400" height="300">
        </div>
    </div>
    </div>
{% endblock %}
