{% extends 'realm/base.html' %}
{% load staticfiles %}

{% block title_block %}
Category
{% endblock %}

{% block body_block %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<head>
    <title>{{book.title}}</title>
    <style>
        a {
            color: blue;
        }
    </style>
</head>

<body>
    <header>
        <h1>{{book.title}}</h1>

    </header>
    <main>
        <div>
            <blockquote>
                {% if book.description %}
                {{book.description}}
                {% else %}
                No Description
                {% endif %}

            </blockquote>
        </div>
        <div>
            <blockquote>
                {% if book.estimatedreadingtime %}
                {{book.estimatedreadingtime}}
                {% else %}
                No Estimated Reading Time Specified
                {% endif %}
            </blockquote>
        </div>

        {% if user.is_authenticated %}

        <div style="text-align: center; padding: 20px;">
            <div >
                <div>
                    <a href="{% url 'realm:Purchase' book.id %}" style="background-color: rgb(45, 149, 150); color: white; padding: 10px 15px; border: none; border-radius: 20px; text-decoration: none;">Purchase</a>
                    <a href="{% url 'realm:rent' book.id %}" style="background-color: rgb(45, 149, 150); color: white; padding: 10px 15px; border: none; border-radius: 20px; text-decoration: none;">Rent</a>
                </div>
                <div>
                <a href="{% url 'realm:add_to_wishlist' book.id %}" style="background-color: rgb(45, 149, 150); color: white; padding: 10px 15px; border: none; border-radius: 20px; text-decoration: none;">Add to Wishlist</a>
                </div>
        </div>
        
        
        
    
        {% else %}
        <div style="text-align: center;"><p>You must be logged in to make a purchase or rent a book.</p></div>
    
        {% endif %}
        </div>
    </main>
    <footer>
        <p>Find Out More <a href="{{book.url}}">Here</a></p>
        <p>About the <a href="{{book.author}}">Author</a></p>
        
        <p>Return back to <a href="{% url 'realm:Categories' %}">Categories</a></p><br />
        {% if user_has_purchased or user_has_active_rental %}
            <p>Read the book <a href="{% url 'realm:read_book' book.slug %}">Read Book</a></p><br />
        {% else %}
            <p>You must purchase/rent the book to read it.</p>
        {% endif %}

        
    </footer>
</body>
{% endblock %}