<!DOCTYPE html>
<html>
<head>
    <title>Reading Realm - Categories</title>
</head>
<body>
    <h1>Realm Team says...</h1>
    <div>
        Find the category that speaks to your heart 
        <span style='font-size:10px;'>&#127775;</span> <br />
        <strong>{{ boldmessage }}</strong><br />
    </div>
    <div>
        <a href="{% url 'realm:Home' %}">Home</a>
    </div>
    <div>
        <ul>
            {% for category in categories %}
            <li><a href="{% url 'realm:category' category.slug %}">{{category.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
