{% extends 'realm/base.html' %}
{% load staticfiles %}

{% block title_block %}
Categories
{% endblock %}

{% block body_block %}
    <div>
        <h1>Realm Team says...</h1>
        Explore our selection and find the category that perfectly matches your interests and preferences.
        <span style='font-size:10px;'>&#127775;</span> <br />
        <strong>{{ boldmessage }}</strong><br />
    </div>
    <div>
        <a href="{% url 'realm:Home' %}">Home</a>
    </div>
    <div>
        <ul>
            {% for category in categories %}
            <li><a href="{% url 'realm:category' category.slug %}">{{category.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
