{% extends 'realm/base.html' %}
{% load staticfiles %}

{% block title_block %}
Select Favourite Categories
{% endblock %}


{% block body_block %}
    {% if not userprofile.selected_favourites %}
    <h1>Pick up to 3 of your favourite categories</h1>
    <div>
        <form id="favourite_form" method="post" action="{% url 'realm:FavouriteCategories' %}">
            {% csrf_token %}
            {% for category in categories %}
                <input class="favourite_category_checkbox" type="checkbox" name={{category.name}} value={{category}}> {{category.name}}<br>
            {% endfor %}
            <input type="submit" value="submit" />
        </form>
    </div>
    {% else %}
    <p>Thanks for selecting your favourites! <a href="{% url 'realm:Recommendations' %}">Click here</a> to get some personalised recommendations!</p>
    {% endif %}
{% endblock %}