{% extends 'realm/base.html' %}
{% load staticfiles %}

{% block title_block %}
{{ category.name }} Books
{% endblock %}

{% block body_block %}
<div class="outline">
        <h1>Reading Realm - {{ category.name }} Books</h1>
        <div class="quoteContainer">
            <p class="quote">Embark on an Adventure in the {{ category.name }} Section</p>
        </div>
        <div class="user-options">
            <h2>{{ category.name }} Books</h2>
            <ul>
                {% for book in books %}
                    <li><a href="{% url 'realm:book' book.slug%}">{{ book.title }}</a></li>
                {% empty %}
                    <li>No books found.</li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <p>Return back to <a href="{% url 'realm:Categories' %}">Categories</a></p><br />
        </div>
    </div>


{% endblock %}