<!DOCTYPE html>
<html>
    <head>
        <title>Reading Realm - Classic Books</title>
    </head>
    
    <body>
        <h1>Realm Team says...</h1>
        <div>
            hey there partner! <br />
            <strong>{{ boldmessage }}</strong><br />
        </div>
        <div>
            <a href="{% url 'realm:Categories' %}">Categories</a><br />
        </div>
        <div>
            <h2>Classic Books</h2>
            <ul>
                {% for page in pages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% empty %}
                    <li>No classic books found.</li>
                {% endfor %}
            </ul>
        </div>
    
    </body>
</html>